<div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
            <strong>Edit Destination</strong>
  
          </div>
          <div class="col-sm-4">
              <div class="form-group">
                <label for="cvv">Destination ID</label>
                <input type="text" class="form-control" id="cvv" placeholder="ID">
              </div>
            </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="name">New name of the destination</label>
                  <input type="text" class="form-control" id="name" placeholder="Enter name">
                </div>
              </div>
            </div>
            <!--/.row-->
          </div>
        </div>
      </div>
    </div>
  

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Delete</button>
        <button class="btn btn-secondary" type="button">Cancel</button>
      </div>